<% if flash[:alert]%>
<h5 class="error">  <%=  flash[:alert]%> </h5>
<% end %>
<h4>LOG IN TO POLYGLOT</h4>
<div class="center">
<%= form_with url: '/login' do |f| %>
  
    
    <%= f.label :username %>
    <%= f.text_field :username %>

       
    
    <%= f.label :password %>
    <%= f.password_field :password %><br>

        <br><br>
    
    <%= f.submit "login" %>
<% end %>

</div>
<br>
<br>
<p> OR </p>

  <h5> <%= button_to "Log in with Google", '/auth/google_oauth2/'%> </h5>