<% if flash[:alert]%>
<h4 class="error"> <%= flash[:alert]%> </h4>
<% end %>
 <% if params[:user_id] %>
<h5>  <%= "#{@user.name}'s " %> language learning journeys! </h5>
 <% else %>
<h4>Check Out These Polyglotters' Language Learning Journey! </h4>
<div class="center">
<%= form_tag("/user_languages", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  </div>
<% end %>

 <br>
 <% end %>
 

 
<div class="center">
<ul>
<% @user_languages.each do |user_language|%>
 
 <li><%= link_to ("#{user_language.user.name}'s #{user_language.language.name} Journey" ),user_language_path(user_language) %></li>
             
           

 <% end %>
 </ul>
</div>





      