<% if flash[:alert]%>
<%= flash[:alert]%> 
<% end %>
 <% if params[:user_id] %>
<h1>  <%= "#{@user.name}'s " %> language learning journeys! </h1>
 <% else %>
<h1>Check Out These Polyglotters' Language Learning Journey! </h1>
 <% end %>
 

<%= form_tag("/user_languages", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

 <br>
 <ul>

<% @user_languages.each do |user_language|%>
 
 <li><%= link_to ("#{user_language.user.name}'s #{user_language.language.name} Journey" ),user_language_path(user_language) %></li>
             
            <br><br>

 <% end %>

</ul>




      