<h1> <%= " #{@user_language.user.name}'s #{@user_language.language.name} journey! " %>  </h1>



<h3>  Why I Learn </h3>
<br>
<%= @user_language.why_learn%>
<h3> My Goals:</h3>
<br>
<%= @user_language.goals%>
<h3> Time Spent:</h3>
<br>
<%= "#{@user_language.time_spent} Hours" %>
<h3> Enjoying?</h3>
<br>
<% if  @user_language.enjoying  == true %>
<h3> yes </h3>
<% else %>
<h3> no </h3>
<% end%>   


<br>
<br>
<%= link_to "Back", user_languages_path %>
<br>
<br>
<br>
<br>
<% if logged_in? && current_user.id == @user_language.user.id%>
<%= link_to "Edit", edit_user_user_language_path(@user_language) %>
<br>
<br>
<%= link_to "Delete", user_language_path(@user_language), data: { method: :delete } %> 
<% end %>