<h3> <%= " #{@user_language.user.name}'s #{@user_language.language.name} journey! " %>  </h3>

<div class="center">
<ul>
<h5><li>  Last learned: </li></h5>
<%= @user_language.learned%>
<br>
<h5> I'd like to learn:</h5>
<%= @user_language.learn_next%>
<br>
<h5> Spent: </h5>
<%= "#{@user_language.time_spent} Hours" %> 
<br>
<h5> Need to review:</h5>
<% if  @user_language.review.empty? %>
nothing at the moment
<% else %>
<%= "#{@user_language.review}" %> 
<% end %>
<h5> Time Spent:</h5>
<%= "#{@user_language.time_spent} Hours" %> 
<h5> Enjoying?</h5>
<% if  @user_language.enjoying  == true %>
 yes 
<% else %>
 no 
<% end%>   


<br>
<br>
<h4><%= link_to "view all language journeys!", user_languages_path %> </h4>
<br>
</ul>
</div>
<% if logged_in? && current_user.id == @user_language.user.id%>
<div class="center">
<ul>
<h4><li><%= link_to "Edit", edit_user_user_language_path(@user_language) %></li></h4>
<br>
<h4><li><%= link_to "Delete", user_language_path(@user_language), data: { method: :delete } %></li> </h4>
</ul>
</div>
<% end %>