<h3> <%= " #{@user_language.user.name}'s #{@user_language.language.name} journey! " %>  </h3>

<div class="ul-card">
<ul class="ul-ul">
<h5><li>  Last learned: </li></h5>
<p><%= @user_language.learned%></p>
<br>
<h5> I'd like to learn:</h5>
<p><%= @user_language.learn_next%></p>
<br>

<h5> Need to review:</h5>
<% if  @user_language.review.empty? %>
<p>nothing at the moment</p>
<% else %>
<p><%= "#{@user_language.review}" %> </p>
<% end %>
<h5> Time Spent:</h5>
<p><%= "#{@user_language.time_spent} Hours" %></p> 
<h5> Currently Enjoying?</h5>
<% if  @user_language.enjoying  == true %>
<p> yes <p/>
<% else %>
<p> no <p/>
<% end%>   


<h5><%= link_to "view all language journeys!", user_languages_path %></h5>
<br>

</ul>
</div>
<% if logged_in? && current_user.id == @user_language.user.id%>
<div class="center">
<ul>
<h4><li><%= link_to "Edit", edit_user_user_language_path(@user_language) %></li></h4>
<br>
<h4><li><%= link_to "Delete", user_language_path(@user_language), data: { method: :delete } %></li> </h4>
</ul>
</div>
<% end %>