<h1> <%= " #{@user_language.user.name}'s #{@user_language.language.name} journey! " %>  </h1>



<h3>  Last Learnerd: </h3>
<h3><%= @user_language.learned%></h3>
<br>
<h3> I'd like to learn:</h3>
<h3><%= @user_language.learn_next%></h3>
<br>
<h3> Spent: </h3>
<h3><%= "#{@user_language.time_spent} Hours" %> </h3>
<br>
<h3> Need to review:</h3>
<h3><%= "#{@user_language.time_spent} Hours" %> </h3>
<br>
<h3> Enjoying?</h3>
<% if  @user_language.enjoying  == true %>
<h3> yes </h3>
<% else %>
<h3> no </h3>
<% end%>   


<br>
<br>
<h4><%= link_to "view all language journeys!", user_languages_path %> </h4>
<br>
<br>
<br>
<br>
<% if logged_in? && current_user.id == @user_language.user.id%>
<h4><%= link_to "Edit", edit_user_user_language_path(@user_language) %></h4>
<br>
<h4><%= link_to "Delete", user_language_path(@user_language), data: { method: :delete } %> </h4>
<% end %>