<!--
<ul class="navmenu-ul">
  
  <li class="navmenu-li"><%= link_to "All Journeys!", user_languages_path %> </li>

  <li class="navmenu-li"><%= link_to "All Journeys!", user_languages_path %> </li>

  <li class="navmenu-li"><a><%= link_to "Home", home_path  %></a></li>

</ul> 
--> 

<%# <!--  %>
<table class="navmenu-table" style="width:100%">
  <tr>
    <th class="navmenu-li"><%= link_to "All Journeys!", user_languages_path %> </th>
     <td class="navmenu-li"><%= link_to "All Langauges!", languages_path %> </td>
     <th class="navmenu-li"> <%= link_to "All Users", users_path %> </th>
     <td class="navmenu-li"> <%= link_to "Home", home_path  %> </td>
    <th></th>
  </tr>
  
</table> 
<%# --> %>