<!DOCTYPE html>
<html>
  <head>

 
    <title>Polyglotters</title>
  
  
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag 'style.css' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  

</head>
  
  <body>
<%# <%= render "layouts/navmenu" %> 
 
<% if logged_in? %>
<h2> Welcome <%= current_user.name %> </h2>

<%  end %>

<div class="logo">
<img src="minimalist_logo.png" alt="logo" />
</div> 
  <%= render "layouts/navmenu" %>     
    <%= yield %>
  
  <%= render 'layouts/nav' %>
  
  <%# <%= render "layouts/navmenu" %>  
  </body>
</html>
